<blockquote>
  <p> CDEX Token utility of the new newforkdelta exchange, holders of CDEX have the right shareholdings of the newforkdelta exchange in ETH every month.</p>
  <footer><a href="https://newforkdelta.github.io" target="_blank">https://newforkdelta.github.io</a></footer>
</blockquote>
