<blockquote>
  <p>With a 2% explosion per transfer, Dynamite is the best explosive cryptocurrency ever! |</p>
  <footer><a href="https://dynamitetoken.com/" target="_blank">https://dynamitetoken.com/</a></footer>
</blockquote>
