<blockquote>
  <p>FXBartercoin is a toke that is related to the platform which allows users to exchange fiat non deliverable currencies for the token. It will be used primarily as an exchange token.</p>
  <footer><a href="http://www.fxbartercoin.com/" target="_blank">http://www.fxbartercoin.com/</a></footer>
</blockquote>
