<blockquote>
  <p>OpenDEX is the most advanced Open Source Digital Asset Exchange with Multi-Blockchain and peer to peer (P2P) trading support. As the name suggests OpenDEX is completely open source digital asset exchange designed for crypto traders. OpenDEX will work on Proof of Private Key concept to connect with multiple blockchains using 256 bytes private key.</p>
  <footer><a https://opendex.market" target="_blank">https://opendex.market</a></footer>
</blockquote>
