<blockquote>
  <p>TCM First digital token backed by knowledge and financial education TimeCashFunctionsBuild financial education and practical and simplified knowledge about Blockchain technology and innovation in these markets where we operate.
Create a proprietary table in the markets of crypto-coins, future American market and Forex decentralized real estate investment, Creation and development of Tokens and Ico for physical projects.</p>
  <footer><a href="http://www.timecash.com.br/" target="_blank">http://www.timecash.com.br/</a></footer>
</blockquote>
